body{
	font-size: 16px;
	background-color: #9371a3;
	font-family: 'Oxygen' sans-serif;
}

#header-nav{
	border-radius: 0px;
	border: 0px;
	background-color: #de405d;
	color: #fff;
}



.navbar-brand h1{
	color: #fff;
	font-weight: bold;
}

.container {
	border: none;
	margin-bottom: 30px;
	padding: 10px;
	position: relative;
}

#collapsable-nav a{
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
	color: black;
}

.navbar-brand a:hover{
	text-decoration: none;
}

.navbar-toggle{
	margin-top: 40px;
}

.row{
	width: 100%;
}

#chicken{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;

}

#beef{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;

}

#sushi{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;

}

section{
	border: 1px solid black;
	height: auto;
	overflow: auto;
	width: 100%;
	background-color: #a5b0a8;
	opacity: 0.8;
	font-family: halvetica;
}

.design{
	margin-top: 15px;
	margin-bottom: 15px;
}

